<div class="after-head-and-nav-el"></div>
<app-main-section *ngIf="loadMain"></app-main-section>
<app-experience-section id="experience" *ngIf="loadExperience"></app-experience-section>
<app-skills-section id="skills" *ngIf="loadSkills"></app-skills-section>
<app-education-section id="education" *ngIf="loadEducation"></app-education-section>
<app-about-me-section id="aboutMe" *ngIf="loadAboutMe"></app-about-me-section>
<div id="contacts"></div>
<app-contacts-section *ngIf="loadContacts"></app-contacts-section>
<app-footer-section></app-footer-section>
