@import "../../../../assets/styles/sizes";
@import "../../../../assets/styles/colors";

form{
  margin-bottom: $sMarginMiddle;
}
.skills-box__btn-box{
  margin: 0px $sMarginMiddle;
  display: flex;
  justify-content: space-between;
  button{
    padding: 1px 10px;
  }
}
.skills-box__btn-add{
  display:flex;
  justify-content:center;
  align-items:center;
  width: $sSkill + 40px;
  height: $sSkill + 120px;
  margin-top: 25px + $sMarginMiddle;
}
.skills-box{
  display: flex;
  flex-wrap: wrap;
  &__skill{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    text-align: center;
    width: $sSkill + 40px;
    height: $sSkill + 120px;
    background: $cDark;
    margin: $sMarginMiddle;
    &__img{
      width: $sSkill;
      height: $sSkill;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px dotted $cHeadText;
       img {
       max-width: 100%;
       max-height: 100%;
       height:auto;
       }
    }

    label{
      color: $cHeadText;
      font-size: $sMiddleFont;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
    span{
      color: $cHeadText;
      font-size: $sMiddleFont;
    }
    input{
      width: 90%;
      font-size: $sMiddleFont;
      color: $cBaseText;
    }
  }
}

