<section class="sections-width">
  <h2>Обо мне</h2>
  <div class="experience-box">
    <div class="experience-box__sub-box">
      <div class="experience-box__sub-box__2col-box">
        <div>
          <b>Языки:</b>
        </div>
        <div>
          <span>{{aboutMeData.language}}</span>
        </div>
      </div>
      <div class="experience-box__sub-box__2col-box">
        <div>
          <b>Город:</b>
        </div>
        <div>
          <span>{{aboutMeData.city}}</span>
        </div>
      </div>
      <div class="experience-box__sub-box__2col-box">
        <div>
          <b>Хобби:</b>
        </div>
        <div>
          <span>{{aboutMeData.hobby}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
