.mapBox {
  margin-top: 10px;
  border: 1px solid #ACD25F;
  position: relative;
  min-height: 340px; }

.contact-box {
  max-width: 300px;
  position: absolute;
  background: #ffffff;
  top: 50px;
  right: 15%;
  z-index: 1; }
  .contact-box .experience-box {
    margin-top: 0px; }
